<mat-card>
    <div class=" button card div center-text mt20 ml20 mb20 mr20 ">
        <button mat-raised-button >Search </button>
        <button routerLink = "/admin/add-quiz" class="ml20 mr20 " mat-raised-button >Add new Quiz</button>       
    </div>
</mat-card>

<div class="div quiz-card">
<mat-card class ="mt20 example-card" *ngFor="let q of quizzes">
<mat-card-header>

    <mat-card-title-group>
        <div mat-card-avatar class="example-header-image" ></div>
            <mat-card-title>{{q.title}}</mat-card-title>
           <mat-card-subtitle>{{q.category ? q.category.title : 'Brak kategorii'}}</mat-card-subtitle> 
       
    </mat-card-title-group>

</mat-card-header>

<mat-card-content>
    <p>{{q.description}}</p>
  max:  {{q.maxMarks}}
  number of questions: {{q.numberOfQuestions}}
  active: {{q.active}}
</mat-card-content>
<mat-card-action>
    <button class="mt10 mb20 ml20" mat-flat-button color="accent">
        Questions
    </button>

    <button class="mt10 mb20 ml20" mat-flat-button color="primary">
        Update
    </button>

    <button class="mt10 mb20 ml20" mat-flat-button color="warn" (click)="onDeleteQuiz(q.qid)" >
        Delete
    </button>
</mat-card-action>
</mat-card>
</div>
