<mat-card>
  <mat-card-content>
    <div class="profile-wrapper">
      <div class="container text-center" *ngIf="currentUser; else loggedOut">
        <div class="profile-image-container">
          <img class="profile-image" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="Profile Image" />
        </div>
        <div class="profile-details">
          <h1 class="profile-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</h1>
          <table class="table">
            <tr>
              <td><strong>Username:</strong> </td><td>{{ currentUser.username }}</td>
            </tr>
            <tr>
              <td><strong>Name:</strong></td><td> {{ currentUser.firstName }}</td>
            </tr>
            <tr>
              <td><strong>Last Name:</strong></td><td> {{ currentUser.lastName }}</td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td><td> {{ currentUser.email }}</td>
            </tr>
            <tr>
              <td><strong>Phone:</strong></td><td> {{ currentUser.phone }}</td>
            </tr>
            <tr>
              <td><strong>Role:</strong></td><td> {{ currentUser.role }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <ng-template #loggedOut>
      Please login.
    </ng-template>
    <mat-card-actions class="profile-actions text-center mt20 ml20">
      <button mat-raised-button color="primary" >Change data</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>