<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/login1.jpg" alt="iconR">
                </div>
                <h3 class="text-center">Register</h3>
              
                <form 
                *ngIf = "!isSuccessful"
                #f="ngForm"
                (ngSubmit) = "f.form.valid && onSubmit()">

                       <!--Username-->
                        <mat-form-field class = "full-width">
                          <mat-label>Username</mat-label>
                          <input 
                          name = "username"
                          [(ngModel)] = "user.username"
                          required
                          minlength="3"
                          maxlength="20"
                          #username = "ngModel"
                          [ngClass] = "{'is-invalid' : f.submitted && username.errors}"
                          matInput placeholder="Enter here">
                          <div class ="invalid-feedback" *ngIf = " username.errors && f.submitted">
                            <div *ngIf = "username.errors['required']">Username is required</div>
                              <div *ngIf = "username.errors['minlength']"> Username must be at least 3 characters</div>
                          </div>
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>

                           <!--Password-->
                           <mat-form-field class = "full-width">
                            <mat-label>Password</mat-label>
                            <input 
                            required
                            type="password"
                            [(ngModel)] = "user.password"
                            name = "password"
                             matInput placeholder="Enter here">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                     
                             <!--First Name-->
                        <mat-form-field class = "full-width">
                            <mat-label>First Name</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.firstName"
                            name = "firstName"
                            matInput placeholder="Enter here">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                     
                             <!--Last Name-->
                        <mat-form-field class = "full-width">
                            <mat-label>Last Name</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.lastName"
                            name = "lastName"
                            matInput placeholder="Enter here">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                     
                             <!--Email-->
                        <mat-form-field class = "full-width">
                            <mat-label>Email</mat-label>
                            <input
                            required
                            [(ngModel)] = "user.email"
                            name = "email"
                             matInput placeholder="Enter here">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                           <!--Phone Number-->
                           <mat-form-field class = "full-width">
                            <mat-label>Phone Number</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.phone"
                            name = "phone"
                            matInput placeholder="Enter here">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                          <div class="mt20 text-center"></div>
                          <p class = mb20>Already have an account? <a routerLink ="/login">Sign in here.</a> </p>
                     <div class="container text-center" >
                        <button type = "submit" mat-raised-button color="primary" >Register</button>
                    
                    </div>

                </form>
          
            </div>
		</div>
	</div>
</div>