
    <mat-toolbar color = "accent">
        <a 
        routerLink = "/"
      mat-icon-button class="example-icon mr10" 
     aria-label="Example icon-button with menu icon">
     
        
        <mat-icon>auto_stories</mat-icon>
</a>
    <span>Quiz Portal</span>

    <span class="example-spacer"></span>

    <a 
    routerLink ="/profile"
     mat-icon-button 
    class="example-icon favorite-icon mr20" 
    aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
    </a>
    <a 
    routerLink ="/login"
     mat-icon-button 
    class="example-icon favorite-icon mr20" 
    aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
    </a>
 



    <button mat-icon-button
    class="example-icon favorite-icon ml20" 
    aria-label="Example icon-button with heart icon"
    (click)="logout()">
    <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>
  
  