.full-width{
    width: 100%;
}
mat-card {
    width: 50%; 
    margin: 0 auto; 
    margin-top: 50px; 
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 

  }
  .image-style{
    max-width: 100%; 
    height: auto;
  }