<mat-card>
  <mat-card-content>
    <div class="bootstrap-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <img src="../../../assets/profile.png" alt="iconR" class="image-style">
                </div>
                <h2 class="text-center ">Sign in</h2>
              
                <form 
                *ngIf="!isLoggedIn"
                name = "form"
                (ngSubmit) = "f.form.valid && onSubmit()"
                #f = "ngForm"
                novalidate
                >
                       <!--Username-->
                        <mat-form-field class = "full-width">
                          <mat-label>Username</mat-label>
                          <input 
                          [(ngModel)] = "form.username"
                          name = "username"
                          required
                          #username ="ngModel"
                          
                          matInput placeholder="Enter here"/>
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>

                           <!--Password-->
                           <mat-form-field class = "full-width">
                            <mat-label>Password</mat-label>
                            <input 
                            required
                            type="password"
                            [(ngModel)] = "form.password"
                            name = "password"
                            #password="ngModel"
                        
                             matInput placeholder="Enter here"/>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                       
                     <div class="container text-center" >
                        <button type = "submit" mat-raised-button color="primary" >Log in</button>
                    
                    </div>
                
                </form>
                <div class="mt20 text-center"></div>
                <p>Don't have na account? <a routerLink ="/signup">Register here.</a> </p>
    
            </div>
		</div>
	</div>
</div>
</mat-card-content>
</mat-card>