<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button 
        routerLink ="/admin/board"
        mat-list-item><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button 
        routerLink ="/admin/profile"
        mat-list-item><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
  
    <button 
    routerLink ="/admin/profile"
    mat-list-item><mat-icon mat-list-icon>list</mat-icon>Categories</button>

<button 
routerLink ="/admin/profile"
mat-list-item><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Categories</button>
</mat-action-list>
</mat-card>
